:root {
    --primary-bg: #0B0F17;
    --secondary-bg: #121A26;
    --accent-blue: #4FA3D1;
    --highlight-cyan: #8FD3E8;
    --text-primary: #E6EDF3;
    --text-secondary: #AAB4C3;
    --border: #1F2A3A;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { background-color: var(--primary-bg); color: var(--text-primary); font-family: 'Inter', sans-serif; line-height: 1.6; }

/* NAVBAR */
.navbar {
    background-color: var(--secondary-bg);
    padding: 1.2rem 8%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--border);
}
.nav-container { display: flex; justify-content: space-between; align-items: center; }
.logo { font-weight: 800; font-size: 1.1rem; letter-spacing: 1px; }
.nav-title { color: var(--accent-blue); font-weight: 400; font-size: 0.9rem; }
.nav-links a { text-decoration: none; color: var(--text-primary); margin-left: 30px; font-size: 0.9rem; transition: 0.3s; }
.nav-links a:hover { color: var(--highlight-cyan); }

/* HERO */
.hero { padding: 50px 8%; min-height: 60vh; display: flex; align-items: center; }
.hero-container { display: flex; align-items: center; gap: 60px; max-width: 1200px; margin: 0 auto; }
.hero-image img { width: 250px; height: 250px; border-radius: 50%; border: 2px solid var(--accent-blue); object-fit: cover; }
.tagline { font-size: 3.2rem; margin-bottom: 20px; color: var(--highlight-cyan); line-height: 1.2; }
.tagline-title { color: var( --text-primary); font-weight: 700; font-size: 1.0rem; letter-spacing: 2px;  }
.summary { font-size: 1.3rem; color: var(--text-secondary); margin-bottom: 30px; max-width: 800px; }
.summary-bold { font-size: 1.3rem; color: var(--text-primary); margin-bottom: 30px; max-width: 850px; }
.hero-btns { display: flex; gap: 25px; }
.social-icon { font-size: 2rem; color: var(--accent-blue); transition: 0.3s; }
.social-icon:hover { color: var(--highlight-cyan); transform: translateY(-3px); }

/* SECTIONS */
.section { padding: 60px 8%; }
.alt-bg { background-color: var(--secondary-bg); }
.section-title { font-size: 2rem; margin-bottom: 50px; text-align: center; color: var(--text-primary); }

/* PROJECTS */
.project-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; }
.project-card { background: var(--); border: 1px solid var(--border); border-radius: 12px; overflow: hidden; transition: 0.3s; }
.project-card:hover { border-color: var(--accent-blue); transform: translateY(-5px); }
.project-img { width: 100%; height: 200px; object-fit: contain;  background-color: var(--primary-bg);}
.project-info { padding: 25px; }
.github-link { display: inline-block; margin-bottom: 10px; font-family: 'JetBrains Mono'; color: var(--accent-blue); text-decoration: none; font-size: 0.8rem; }

/* SKILLS */
.skills-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); gap: 20px; }
.skill-category { padding: 25px; background: var(--primary-bg); border: 1px solid var(--border); border-radius: 10px; }
.skill-category h4 { color: var(--highlight-cyan); margin-bottom: 15px; }

.skill-category h4 { color: var(--); margin-bottom: 15px; }

.skill-category ul { list-style: none; color: var(--text-secondary); font-size: 0.9rem; }
.skill-category li { margin-bottom: 5px; }

/* CERTS */
.certs-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 30px; }
.cert-card { background: var(--primary-bg); border: 1px solid var(--border); border-radius: 12px; overflow: hidden; transition: 0.3s; }
.cert-card:hover { border-color: var(--accent-blue); transform: translateY(-5px); }
.cert-img {  width: 100%; height: 200px; object-fit: contain;  background-color: var(--primary-bg); }
.cert-info { padding: 25px; }


/* CONTACT */
.contact-container { max-width: 600px; margin: 0 auto; }
form input, form textarea { width: 100%; padding: 15px; margin-bottom: 15px; background: var(--primary-bg); border: 1px solid var(--border); border-radius: 8px; color: white; font-family: inherit; }
.btn-cta { width: 100%; padding: 15px; background: var(--accent-blue); border: none; border-radius: 8px; font-weight: 800; cursor: pointer; color: var(--primary-bg); transition: 0.3s; }
.btn-cta:hover { background: var(--highlight-cyan); box-shadow: 0 0 20px rgba(79, 163, 209, 0.4); }

.footer { padding: 40px; text-align: center; border-top: 1px solid var(--border); font-size: 0.8rem; color: var(--text-secondary); }